<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>申請住宿資料</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script
      src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/styles.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
      <div class="container px-4 px-lg-5">
        <!-- <a class="navbar-brand" href="index.html">Start Bootstrap</a> -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto py-4 py-lg-0">
            <li class="list-inline-item">
              <a href="/" class="home">
                <span class="fa-stack fa-lg">
                  <button
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="返回首頁"
                    style="width: 50px; height: 50px;color:#ffffff"
                    class="fa-solid fa-house-user"
                  ></button>
                </span>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link px-lg-3 py-3 py-lg-4"
                href="/dormitory_detail"
              >Introduction</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-lg-3 py-3 py-lg-4" href="/login">Log out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('../apply1.jpg')">
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="site-heading">
              <h1>申請住宿資料</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
{{#if notapplied}}
    <div class="container">
      <div style="text-align: center;">
    <button class="button" style="font-family: 微軟正黑體; text-decoration: underline;" id="apply"data-bs-toggle="modal" data-bs-target="#exampleModal">提出申請住宿</button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">申請住宿資料</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            是否確認要申請本學期的住宿 ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">否</button>
             <form action="/studentToApply/apply" method="POST">
            <button type="submit" name ="action" value="apply" class="btn btn-primary">是</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/if}}

    <br /><br /><br />
    <div class="container">
      <div class="accordion-body">
        <table style="line-height: 10px" class="table table-hover">
          <thead>
            <!--表示表格中不同直行 (column) 的標題-->
            <tr style="background-color: #dfd1ef">
              <!--定義表格的橫列 (row)-->
              <th scope="col" align="center" valign="middle">學生編號</th>
              <th scope="col" align="center" valign="middle">學年度</th>
              <th scope="col" align="center" valign="middle">學期</th>
              <th scope="col" align="center" valign="middle">申請日期</th>
              <th scope="col" align="center" valign="middle">核可與否</th>
              <th scope="col" align="center" valign="middle">繳費狀況</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#each message}}
              <tr>
                <td valign="middle">{{this.A_Student_ID}}</td>
                <td valign="middle">{{this.A_Academic_Year}}</td>
                <td valign="middle">{{this.A_Semester}}</td>
                <td valign="middle">{{this.A_Date}}</td>
                <td valign="middle">{{this.A_Approval}}</td>
                <td valign="middle">{{this.A_Bill}}</td>
                
                <form action="/studentToApply/delete" method="POST">
                  <td>
                    <button style=" width: 75px; height: 40px; background-color: #e74a3b; color: #ffffff; border: 2px #d44141 outset;" type="submit" name="action" value="delete" > 刪除
                    </button>
                  </td>
                </form>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <!-- Footer-->
    <br /><br /><br /><br /><br /><br />
    <footer class="border-top">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div id="top-footer">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6 contact">
                    <i class="fa-solid fa-paperclip" style="display: inline;float: left;width: 30px;height: 30px;"></i>
                    <h3>高雄大學網站:</h3>
                    <a href="https://www.nuk.edu.tw/" target="_blank" >https://www.nuk.edu.tw/</a>
                  </div>
                  <div class="col-md-6 social">
                    <i
                      class="fa-solid fa-chalkboard-user"
                      style="display: inline;float: left;width: 30px;height: 30px;"></i>
                    <h3>moodle平台:</h3>
                    <a
                      href="https://elearningv4.nuk.edu.tw/"
                      target="_blank"
                    >https://elearningv4.nuk.edu.tw/</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    ></script>
    <!-- Core theme JS-->
    <script src="student_to_apply.js"></script>
  </body>
</html>